.calendar {
  flex-direction: column;
  padding: 0 var(--space);
  margin-bottom: var(--space);
  max-width: 839px;
  .month {
    justify-content: space-between;
    align-items: center;
    color: var(--gray-2);
    margin-bottom: 10px;
    text-transform: uppercase;
    h2 {
      font-size: 22px;
      font-weight: 400;
    }
    button {
      @include button;
      border: var(--gray-2) 2px solid;
      color: var(--gray-2);
    }
    nav{
      button {
        min-width: 50px;
      }
      button + button {
        margin-left: 10px;
      }
    }
    .btn-today {
      display: none;
    }
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .weekdays {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--gray-0);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    li {
      justify-content: center;
      align-items: center;
      padding: 8px 0;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 12vw);
    color: var(--dark-0);
    li {
      justify-content: center;
      align-items: center;
      padding: 0;
      font-size: 16px;
      border-radius: 50%;
      cursor: pointer;
      transition: all .1s ease-in-out;
      &:hover {
        background-color: var(--gray-7);
      }
      &.active {
        background-color: var(--blue);
        color: var(--white);
        &:hover {
          background-color: var(--blue-hover);
        }
        &:active {
          background-color: var(--blue-active);;
        }
      }
      &.selected {
        background-color: var(--green);
        color: var(--white);
        &:hover {
          background-color: var(--green-hover);
        }
        &:active {
          background-color: var(--green-active);;
        }
      }
      &.month-prev, &.month-next {
        color: var(--gray-2);
      }
    }
  }
}

@media (min-width: 1200px) {
  .calendar {
    .month {
      margin: var(--space) 0;
      h2 {
        font-size: 44px;
      }
      .btn-today {
        display: flex;
      }
    }
    .weekdays {
      li {
        font-size: 21px;
        font-weight: bold;
      }
    }
    .days {
      grid-template-rows: repeat(5, calc(839px / 7));
      li {
        font-size: 38px;
      }
    }
  }
}