#schedules-services {
  .options {
    flex-direction: column;
    margin-top: var(--space);
    label {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      margin-bottom: var(--space);
      .square {
        width: 24px;
        height: 24px;
        border: 2px solid var(--gray-10);
        margin-right: var(--space);
        justify-content: center;
        align-items: center;
        .square2 {
          width: 14px;
          height: 14px;
          background-color: var(--gray);
          opacity: 0;
          transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          &:hover {
            opacity: 1;
            background-color: var(--blue-active);
          }
        }
        &:hover {
          border: var(--gray-8) 2px solid;
        }
      }
      input {
        display: none;
        &:checked + .square2 {
          background-color: var(--blue-active);
          opacity: 1;
        }
      }
      .content {
        flex-direction: column;
        padding-left: 10px;
        font-size: 16px;
        color: var(--dark-0);
        line-height: 24px;
        .description {
          font-size: 14px;
          color: (--gray-2);
        }
        .price {
          font-weight: bold;
        }
      }
    }
  }
}